<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<div id="aplayer"></div>

<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<script>
const staticDir = {{ .Site.Home.Permalink }}
const ap = new APlayer({
    container: document.getElementById('aplayer'),
    fixed: true,
    autoplay: false,
    theme: '#961010',
    loop: 'all',
    order: 'list',
    preload: 'metadata',
    volume: 0.5,
  audio: [
        {
            title: 'Army Dreamers in 29edo',
            author: 'Kate Bush/Deister Orchestra',
            url: 'https://music.163.com/song/media/outer/url?id=2165388420.mp3',
            cover: 'https://s3.bmp.ovh/imgs/2025/08/13/cd630c6249f394c5.jpg',
            lrc: '',
        },

        {
            title: 'リズと青い鳥 第三楽章「愛ゆえの決断」',
            author: '松田彬人',
            url: staticDir + 'music/bluebird.mp3',
            cover: 'https://s3.bmp.ovh/imgs/2025/08/13/fb43e14e9e98a0e6.jpg',
            lrc: '',
        },

        {
            title: 'Pagan Poetry',
            author: 'Bjork',
            url: staticDir + 'music/PaganPoetry.mp3',
            cover: 'https://s3.bmp.ovh/imgs/2025/08/13/abf7b56aee2c0254.jpg',
            lrc:'',
        },

        {
            title: 'The Haunted Palace',
            author: 'Sopor Aeternus & the Ensemble of Shadows',
            url: 'https://music.163.com/song/media/outer/url?id=27725392.mp3',
            cover: 'https://s3.bmp.ovh/imgs/2025/08/13/3d8c8e717de1fd1c.jpg',
            lrc: '',
        },

        {
            title: 'Empty Warehouse',
            author: 'Alias Conrad Coldwood',
            url: 'https://music.163.com/song/media/outer/url?id=439915037.mp3',
            cover: 'https://s3.bmp.ovh/imgs/2025/08/13/44df2c27a9b397c3.jpg',
            lrc: '',
        },
        
        {
            title: 'Enchanters',
            author: 'Raney Shockne/Elizaveta/Nick Stoubis',
            url: 'https://music.163.com/song/media/outer/url?id=31529024.mp3',
            cover: 'https://s3.bmp.ovh/imgs/2025/08/13/b63a40a6cede0a0c.jpg',
            lrc: '',
        },
    ]
});

    window.onbeforeunload = () => {
        // 将播放信息用对象封装，并存入到localStorage中
        const playInfo = {
            index: ap.list.index,
            currentTime: ap.audio.currentTime,
            paused: ap.paused
        };
        localStorage.setItem("playInfo", JSON.stringify(playInfo));
    };

    /**
     * 页面加载后监听
     */
    window.onload = () => {
        // 从localStorage取出播放信息
        const playInfo = JSON.parse(localStorage.getItem("playInfo"));
        if (!playInfo) {
            return;
        }
        // 切换歌曲
        ap.list.switch(playInfo.index);
        // 等待500ms再执行下一步(切换歌曲需要点时间，不能立马调歌曲进度条)
        setTimeout(() => {
            // 调整时长
            ap.seek(playInfo.currentTime);
            // 是否播放
            if (!playInfo.paused) {
                ap.play()
            }
        }, 500);
    };
</script>
