[submodule "themes/themes/dream"]
	path = themes/themes/dream
	url = https://github.com/cycinter/hugo-theme-dream.git
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
