baseURL = "https://hauntedblog.pages.dev/"
DefaultContentLanguage = "zh" # Theme's display language, supports: en, fr, zh, zh-hant
languageCode = "zh"
title = "皮裂魂奔"
copyright = "© 2025-2025 Haunted Blog"
theme = "paperesque"

[markup]
  # This is the default from Hugo 0.60.0 onwards, but we're setting config
  # for it below, so make it explicit
  defaultMarkdownHandler = "goldmark"

[markup.goldmark]
  [markup.goldmark.parser]
    autoHeadingID = true


# Required to render HTML tags in the hugoExampleSite examples.
[markup.goldmark.renderer]
  unsafe = true

enableRobotsTXT = true

# I can't remember if this is required for syntax highlighting or not.
pygmentsUseClasses = true

# Uncomment these lines for droplist / resource removal support! See the
# README for more details

# [outputs]
# page = ["HTML", "droplist"]

[params]
# Turn this on if you want to disable margin notes everywhere!
# disableMarginNotes = false

# Ensure that there are *no* [[params.menu]] sections here so that the _index.md
# file will be respected
# [[params.menu]]
#   name = "my favourite bird"
#   url = "posts/kookaburra/"

# And your top-right menu links here.

[[params.topmenu]]
  name = "博客"
  url = "tags/月记/"

[[params.topmenu]]
  name = "连载"
  url = "tags/疮海无穷谭/"

[[params.topmenu]]
  name = "短篇"
  url = "tags/原创/"

[[params.topmenu]]
  name = "关于本站"
  url = "posts/about/"

[[params.topmenu]]
  name = "友情链接"
  url = "posts/friends/"