<!DOCTYPE html>
<html
  lang="{{ .Site.LanguageCode }}"
  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
>
  <head>
    <meta charset="utf-8" />

    {{ partial "meta.html" . }}

    <title>{{ .Title }}{{ if not .IsHome }} || {{ $.Site.Title }}{{ end }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />

    {{ partial "head_includes.html" . }}
    {{ partial "head-customisation.html" . }}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    {{- if .Site.Params.preloadFonts -}}
    <link rel="preload" href="{{ "fonts/Huiwen-ZhengKai.woff2" | absURL }}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{{ "fonts/Huiwen-FangSong.woff2" | absURL }}" as="font" type="font/woff2" crossorigin="anonymous">
    {{- end -}}

    <link rel="preload" href="https://s3.bmp.ovh/imgs/2025/12/07/692e75c797fca362.webp" as="image" media="(max-width: 400px)" type="image/webp" crossorigin="anonymous">

  </head>
  <body
  class="{{ block "body-classes" . }}{{ end }}"
  lang="{{ .Site.LanguageCode }}">
  <div class="navbar nav-bkg drop-shadow">
    <nav class="content-container pagewide-bar-padding">
      <span class="divider">/ </span>
      <a href="{{ .Site.Home.RelPermalink  }}" >{{ .Site.Title  }}</a>
      {{ block "breadcrumbs" . }}
        {{- with .Parent -}}
          {{- if not .IsHome -}}
          <span class="divider">/ </span>
          <a href="{{ .RelPermalink }}">
            {{- with .Params.breadcrumb_label -}}
              {{- . -}}
            {{- else -}}
              {{- .Title -}}
            {{- end -}}
          </a>
          {{- end -}}
        {{- end -}}
      {{ end }}
      {{ partial "right-links" . }}
    </nav>
  </div>
  {{ block "content" . }}{{ end }}
  {{ if not .Params.hide_footer }}
    {{ block "footer" . }}{{ end }}
  {{ end }}

  <script defer src="https://cloud.umami.is/script.js" data-website-id="7702f9d4-077b-4b77-b168-abe5f78d43b9"></script>
  
  <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>

  </body>
</html>
