{{ define "body-classes" -}}
  {{ if .Draft }}draft{{ end }} look-sheet-bkg
{{- end }}

{{ define "content" }}
<div class="article-layout">
  {{/* 检查文章是否有至少两个标题（主标题+至少一个次级标题） */}}
  {{ $headers := findRE "<h[2-6].*?>(.|\n])+?</h[2-6]>" .Content }}
  {{ if ge (len $headers) 1 }}
  <aside class="toc-container">
    {{- partial "toc.html" . -}}
  </aside>
  {{ end }}
  
  <main class="article-main {{ if lt (len $headers) 1 }}full-width{{ end }}">
    {{- partial "single-article" . -}}
  </main>
</div>
{{ end }}

{{ define "footer" }}
  {{- partial "single-footer-customisation" . -}}

  {{ $filteredPages := where .CurrentSection.Pages "Params.mostlyHidden" "ne" true }}
  {{ $prev := $filteredPages.Prev . }}
  {{ $next := $filteredPages.Next . }}
  {{if (and (not .Parent.IsHome) (or $prev $next)) }}
    <div class="nav-bkg-50 content-container-narrow-pad bottom-links text-0p75 drop-shadow">
      <nav class="flex-row">
      {{with $prev }}
      <a href="{{.Permalink}}" class="flex-row v-center no-underline"  style="max-width:45%;">
        <span class="text-1p5">←</span>&nbsp;<span class="re-underline">Previous: {{ .Title }}</span>
      </a>
      {{else}}
        <span class="flex-row v-center"></span>
      {{end}}
      {{with $next }}
        <a href="{{.Permalink}}" class="flex-row v-center no-underline" style="max-width: 45%;">
        <span class="re-underline">Next: {{.Title}}</span>&nbsp;<span class="text-1p5">→</span>
        </a>
      {{else}}
        <span class="flex-row v-center"></span>
      {{end}}
      </nav>
    </div>
  {{ end }}
{{ end }}